# 02 — System Prompt for NL2SQL (v2)
**Fix:** qwen2.5-coder:14b ignores system role. All instructions embedded in user message.

**Pipeline:** qwen2.5-coder:14b (SQL) → Oracle execute → qwen3-14b (narration)

## Cell 1: Imports & Connection

In [42]:
import oracledb
from sqlalchemy import create_engine, text, inspect
import pandas as pd
import json
import re
import ollama
import time
from pathlib import Path

engine = create_engine(
    "oracle+oracledb://ibms_user:ibms_pass@localhost:1521/?service_name=FREEPDB1"
)

with engine.connect() as conn:
    result = conn.execute(text("SELECT 1 FROM dual"))
    print("Connection OK:", result.fetchone())

Connection OK: (1,)

## Cell 2: Introspect Schema

In [43]:
inspector = inspect(engine)
tables = inspector.get_table_names()

schema_info = {}
for table in sorted(tables):
    schema_info[table] = inspector.get_columns(table)

fk_info = {}
for table in sorted(tables):
    fks = inspector.get_foreign_keys(table)
    if fks:
        fk_info[table] = fks

row_counts = {}
with engine.connect() as conn:
    for table in sorted(tables):
        result = conn.execute(text(f"SELECT COUNT(*) FROM {table}"))
        row_counts[table] = result.fetchone()[0]

print(f"Introspected {len(tables)} tables")
for t, c in sorted(row_counts.items(), key=lambda x: -x[1]):
    print(f"  {t:<30} {c:>10,}")

Introspected 20 tables
  travel_records                    500,000
  visa_applications                 250,000
  document_registry                 219,240
  risk_profiles                     150,000
  travelers                         150,000
  audit_log                         100,000
  family_relationships               48,713
  asylum_claims                      30,000
  illegal_crossings                  25,000
  removal_orders                     15,000
  detention_records                  12,000
  offloading_records                  9,674
  watchlist                           8,000
  suspect_networks                    5,000
  trafficking_cases                   5,000
  ecl_entries                         2,676
  sponsors                               90
  countries                              50
  ports_of_entry                         39
  visa_categories                        20

## Cell 3: Get Sample Values for Key Columns

In [44]:
SAMPLE_QUERIES = {
    "countries": ["country_name", "iso3_code", "region"],
    "ports_of_entry": ["port_name", "port_type", "city", "iata_code"],
    "visa_categories": ["visa_code", "visa_name", "visa_class"],
    "travelers": ["gender", "education_level", "marital_status"],
    "document_registry": ["document_type", "status"],
    "visa_applications": ["status", "fee_currency"],
    "travel_records": ["travel_direction", "travel_purpose", "carrier"],
    "asylum_claims": ["claim_basis", "status"],
    "removal_orders": ["reason", "status"],
    "detention_records": ["status"],
    "family_relationships": ["relationship_type"],
    "watchlist": ["alert_type", "severity"],
    "ecl_entries": ["reason", "status"],
    "trafficking_cases": ["case_type", "status"],
    "illegal_crossings": ["direction", "detection_method", "outcome"],
    "offloading_records": ["reason"],
    "risk_profiles": ["risk_tier"],
    "suspect_networks": ["role", "confidence_level"],
    "audit_log": ["action"],
}

sample_values = {}
with engine.connect() as conn:
    for table, cols in SAMPLE_QUERIES.items():
        sample_values[table] = {}
        for col in cols:
            result = conn.execute(
                text(f"SELECT DISTINCT {col} FROM {table} WHERE {col} IS NOT NULL ORDER BY {col} FETCH FIRST 25 ROWS ONLY")
            )
            sample_values[table][col] = [str(row[0]) for row in result]

print("Sample values collected for", sum(len(v) for v in sample_values.values()), "columns")

Sample values collected for 40 columns

## Cell 4: Build Schema Text Blocks

In [45]:
def build_column_list_schema():
    """Ultra-clear format: just table name and exact column names."""
    lines = []
    for table in sorted(schema_info.keys()):
        cols = [col['name'] for col in schema_info[table]]
        lines.append(f"TABLE {table}:")
        lines.append(f"  COLUMNS: {', '.join(cols)}")
        lines.append("")
    return "\n".join(lines)

compact_schema = build_column_list_schema()
print(compact_schema)

TABLE asylum_claims:
  COLUMNS: claim_id, traveler_id, filing_date, claim_basis, origin_country_id, status, decision_date, assigned_officer, dependents_count

TABLE audit_log:
  COLUMNS: log_id, table_name, record_id, action, action_timestamp, officer_id, officer_name, terminal_id, port_id, ip_address, details

TABLE countries:
  COLUMNS: country_id, country_name, iso3_code, region, sub_region, income_group, is_conflict_zone

TABLE detention_records:
  COLUMNS: detention_id, traveler_id, facility_name, facility_country_id, intake_date, release_date, reason, removal_order_id, status

TABLE document_registry:
  COLUMNS: document_id, traveler_id, document_type, document_number, issuing_country_id, issue_date, expiry_date, status

TABLE ecl_entries:
  COLUMNS: ecl_id, traveler_id, reason, issuing_authority, issued_date, expiry_date, status, case_reference

TABLE family_relationships:
  COLUMNS: relationship_id, traveler_id_1, traveler_id_2, relationship_type, verified

TABLE illegal_crossings:
  COLUMNS: crossing_id, detected_date, location_name, nearest_port_id, latitude, longitude, direction, detection_method, group_size, smuggler_linked, apprehended_count, outcome, lead_traveler_id, nationality_id

TABLE offloading_records:
  COLUMNS: offload_id, traveler_id, offload_date, port_id, reason, airline, flight_number, destination_country_id, linked_alert_id, linked_ecl_id

TABLE ports_of_entry:
  COLUMNS: port_id, port_name, port_type, city, country_id, iata_code, latitude, longitude, is_active

TABLE removal_orders:
  COLUMNS: order_id, traveler_id, order_date, reason, destination_country_id, execution_date, status, voluntary_departure

TABLE risk_profiles:
  COLUMNS: profile_id, traveler_id, risk_score, risk_tier, overstay_history, watchlist_hits, conflict_zone_travel, document_fraud_flag, trafficking_association, criminal_record, network_membership, last_updated

TABLE sponsors:
  COLUMNS: sponsor_id, sponsor_type, sponsor_name, country_id, city, industry, registration_number, is_verified

TABLE suspect_networks:
  COLUMNS: link_id, network_id, traveler_id, role, confidence_level, identified_date, is_active

TABLE trafficking_cases:
  COLUMNS: case_id, case_type, victim_traveler_id, suspect_traveler_id, origin_country_id, transit_country_id, destination_country_id, reported_date, status, victim_age_at_time, victim_gender

TABLE travel_records:
  COLUMNS: record_id, traveler_id, application_id, entry_port_id, exit_port_id, entry_date, exit_date, travel_direction, travel_purpose, flight_number, carrier, declared_stay_days, actual_stay_days, overstay_flag, flagged_suspicious, referral_to_investigation

TABLE travelers:
  COLUMNS: traveler_id, passport_number, first_name, last_name, date_of_birth, gender, nationality_id, birth_country_id, occupation, education_level, marital_status, phone_number, email, created_at

TABLE visa_applications:
  COLUMNS: application_id, traveler_id, visa_code, sponsor_id, application_date, decision_date, status, denial_reason, processing_office, fee_amount, fee_currency

TABLE visa_categories:
  COLUMNS: visa_code, visa_name, visa_class, max_duration_days, allows_work, allows_study, requires_sponsor, description

TABLE watchlist:
  COLUMNS: alert_id, traveler_id, passport_number, alert_type, severity, issued_by, issued_date, expiry_date, is_active, notes

## Cell 5: Build the Prompt Template
Everything goes in the user message. The `{question}` placeholder will be filled at query time.

In [46]:
# ============================================================
# PASTE THIS AS A NEW CELL — Replaces Cell 5
# New PROMPT_TEMPLATE with compact schema + strict rules
# ============================================================

PROMPT_TEMPLATE = f"""You are an Oracle 19c SQL generator for Pakistan's FIA IBMS database.

=== TABLES AND COLUMNS (use ONLY these exact names) ===
{compact_schema}

=== FOREIGN KEYS ===
{fk_text}

=== VALID COLUMN VALUES ===
{sample_text}

=== STRICT RULES ===
1. Use ONLY the table and column names listed above. Do NOT invent columns.
2. Oracle does NOT allow AS for table aliases. Write: FROM travelers t (NOT: FROM travelers AS t)
3. SELECT only. No INSERT, UPDATE, DELETE, DROP, ALTER.
4. Use FETCH FIRST N ROWS ONLY (not LIMIT).
5. Use TO_DATE('2025-01-01','YYYY-MM-DD') for date literals.
6. Use SYSDATE for current date.
7. Use EXTRACT(YEAR FROM col) for year filtering.
8. String comparisons are CASE-SENSITIVE.
9. For percentages: ROUND(x * 100.0 / NULLIF(y,0), 2).
10. Alias aggregated columns clearly.
11. The watchlist table has is_active column (1=active, 0=inactive), NOT a status column.
12. travel_records uses entry_date/exit_date (TIMESTAMP), NOT travel_date or departure_date.
13. travel_records uses entry_port_id/exit_port_id, NOT departure_port_id.
14. For departures, filter: travel_direction = 'Outbound'.
15. For arrivals, filter: travel_direction = 'Inbound'.
16. carrier and flight_number are columns on travel_records directly. There is NO airlines table.
17. Traveler names are in first_name and last_name columns, NOT passenger_name or full_name.

Write ONLY the Oracle SQL query. No text. No explanation. No markdown. No code fences.

Question: {{question}}"""

print(f"Prompt template: {{len(PROMPT_TEMPLATE):,}} chars")
print(f"Approx tokens:  ~{{len(PROMPT_TEMPLATE) // 4:,}}")

Prompt template: {len(PROMPT_TEMPLATE):,} chars
Approx tokens:  ~{len(PROMPT_TEMPLATE) // 4:,}

In [47]:
# Add two more rules to the prompt template
PROMPT_TEMPLATE = PROMPT_TEMPLATE.replace(
    "Question: {question}",
    """18. Never use Oracle reserved words as table aliases. Use short aliases like: t, tr, poe, ofr, vc, va, ac, ro, dr, fr, wl, ecl, tc, ic, ol, rp, sn, al.
19. All data in this database is from year 2025 (January to December 2025). When user says "this year" they mean 2025. When user says "last month" use relative to December 2025.
20. For departures: JOIN on exit_port_id (not entry_port_id). For arrivals: JOIN on entry_port_id.

Write ONLY the Oracle SQL query. No text. No explanation. No markdown. No code fences.

Question: {question}"""
)

print(f"Updated prompt: {len(PROMPT_TEMPLATE):,} chars")

Updated prompt: 13,474 chars

## Cell 6: SQL Extraction Function
qwen2.5-coder sometimes wraps SQL in markdown fences or adds minor text. This extracts clean SQL.

In [48]:
def extract_sql(raw: str) -> str:
    """Extract clean SQL from LLM response."""
    raw = raw.strip()
    
    # Try to extract from ```sql ... ``` fences
    match = re.search(r'```(?:sql)?\s*\n?(.*?)\n?```', raw, re.DOTALL | re.IGNORECASE)
    if match:
        sql = match.group(1).strip()
    else:
        # Find first SELECT statement
        match = re.search(r'(SELECT\b.*)', raw, re.DOTALL | re.IGNORECASE)
        if match:
            sql = match.group(1).strip()
        else:
            sql = raw
    
    # Take only the FIRST statement (stop at first semicolon)
    if ';' in sql:
        sql = sql[:sql.index(';')].strip()
    
    return sql

# Test
test = " SELECT COUNT(*) FROM travelers; ===\nSELECT COUNT(*) FROM travelers;"
print("Extracted:", extract_sql(test))


# Test extraction
test_cases = [
    "```sql\nSELECT COUNT(*) FROM travelers;\n```",
    "SELECT COUNT(*) FROM travelers",
    "Here is the query:\nSELECT COUNT(*) FROM travelers;\nThis counts all travelers.",
    "No comments.\n```sql\nSELECT COUNT(*) FROM travelers;\n```",
]

for tc in test_cases:
    result = extract_sql(tc)
    print(f"  Input:  {tc[:60]}...")
    print(f"  Output: {result}")
    print()

Extracted: SELECT COUNT(*) FROM travelers
  Input:  ```sql
SELECT COUNT(*) FROM travelers;
```...
  Output: SELECT COUNT(*) FROM travelers

  Input:  SELECT COUNT(*) FROM travelers...
  Output: SELECT COUNT(*) FROM travelers

  Input:  Here is the query:
SELECT COUNT(*) FROM travelers;
This coun...
  Output: SELECT COUNT(*) FROM travelers

  Input:  No comments.
```sql
SELECT COUNT(*) FROM travelers;
```...
  Output: SELECT COUNT(*) FROM travelers

## Cell 7: SQL Generation Function

In [49]:
def generate_sql(question: str) -> tuple[str, str, float]:
    """Generate Oracle SQL from natural language question.
    Returns: (raw_response, cleaned_sql, latency_seconds)
    """
    prompt = PROMPT_TEMPLATE.replace("{question}", question)
    
    t0 = time.time()
    response = ollama.chat(
        model="qwen2.5-coder:14b",
        messages=[{"role": "user", "content": prompt}],
        options={"temperature": 0.0, "num_predict": 1024},
    )
    latency = time.time() - t0
    
    raw = response["message"]["content"]
    cleaned = extract_sql(raw)
    
    return raw, cleaned, latency

print("generate_sql() defined.")

generate_sql() defined.

## Cell 8: Test — Simple Question

In [50]:
question = "How many travelers are in the system?"
raw, sql, latency = generate_sql(question)

print(f"Question: {question}")
print(f"Latency: {latency:.1f}s")
print(f"\nRaw response:\n{raw}")
print(f"\nExtracted SQL:\n{sql}")

# Execute
try:
    df = pd.read_sql(text(sql), engine)
    print(f"\nResult:")
    print(df.to_string(index=False))
except Exception as e:
    print(f"\n❌ Error: {e}")

Question: How many travelers are in the system?
Latency: 3.4s

Raw response:
 SELECT COUNT(*) FROM travelers;

Extracted SQL:
SELECT COUNT(*) FROM travelers

Result:
 COUNT(*)
   150000

## Cell 9: Test — 5 Sample FIA Questions

In [51]:
test_questions = [
    "List all off-loaded passengers at Islamabad Airport in 2025",
    "How many travelers departed from Karachi last month?",
    "Which airlines have the highest off-loading rate?",
    "Top 10 most frequent travelers this year",
    "How many watchlist alerts are currently active?",
]

results = []
for i, q in enumerate(test_questions, 1):
    print(f"\n{'='*60}")
    print(f"Q{i}: {q}")
    print(f"{'='*60}")
    
    raw, sql, latency = generate_sql(q)
    print(f"Latency: {latency:.1f}s")
    print(f"\nExtracted SQL:\n{sql}\n")
    
    success = False
    try:
        df = pd.read_sql(text(sql), engine)
        print(f"Result ({len(df)} rows):")
        print(df.head(10).to_string(index=False))
        success = True
    except Exception as e:
        print(f"❌ Error: {str(e)[:200]}")
    
    results.append({"question": q, "sql": sql, "success": success, "latency": latency})

============================================================
Q1: List all off-loaded passengers at Islamabad Airport in 2025
============================================================
Latency: 4.0s

Extracted SQL:
SELECT t.first_name, t.last_name, ol.reason
FROM travelers t
JOIN offloading_records ol ON t.traveler_id = ol.traveler_id
JOIN ports_of_entry poe ON ol.port_id = poe.port_id
WHERE EXTRACT(YEAR FROM ol.offload_date) = 2025 AND poe.port_name = 'Islamabad International Airport'

Result (2384 rows):
first_name   last_name                 reason
      Omar      Bhutto      Invalid Documents
      Noor    Siddiqui              ECL Match
    Mariam Al-Shammari          Watchlist Hit
       Nur     Warsame            Court Order
      Umer        Baig Incomplete Travel Docs
   Zubaida     Zardari          Watchlist Hit
     Nimra    Siddiqui          Watchlist Hit
     Nimra    Siddiqui          Watchlist Hit
    Pervez        Raza          Watchlist Hit
     Imran      Afridi          Watchlist Hit

============================================================
Q2: How many travelers departed from Karachi last month?
============================================================
Latency: 5.9s

Extracted SQL:
SELECT COUNT(DISTINCT traveler_id) FROM travel_records WHERE EXTRACT(YEAR FROM exit_date) = 2025 AND EXTRACT(MONTH FROM exit_date) BETWEEN 11 AND 11 AND exit_port_id IN (SELECT port_id FROM ports_of_entry WHERE port_name = 'Karachi Port') AND travel_direction = 'Outbound'

Result (1 rows):
 COUNT(DISTINCTTRAVELER_ID)
                          0

============================================================
Q3: Which airlines have the highest off-loading rate?
============================================================
Latency: 2.5s

Extracted SQL:
SELECT airline, COUNT(*) AS offload_count
FROM offloading_records
GROUP BY airline
ORDER BY offload_count DESC
FETCH FIRST 3 ROWS ONLY

Result (3 rows):
       airline  offload_count
Kuwait Airways            665
    Serene Air            665
Etihad Airways            660

============================================================
Q4: Top 10 most frequent travelers this year
============================================================
Latency: 4.1s

Extracted SQL:
SELECT t.first_name, t.last_name, COUNT(tr.record_id) AS travel_count
FROM travelers t
JOIN travel_records tr ON t.traveler_id = tr.traveler_id
WHERE EXTRACT(YEAR FROM tr.entry_date) = 2025
GROUP BY t.traveler_id, t.first_name, t.last_name
ORDER BY travel_count DESC
FETCH FIRST 10 ROWS ONLY

Result (10 rows):
first_name   last_name  travel_count
     Aamir       Bugti            12
     Liaqt        Rana            12
   Jessica      Harris            12
     Guled     Mohamed            12
     Hasfa      Mengal            12
  Abdullah   Al-Otaibi            12
   Nasreen        Gill            12
    Nasser Al-Zaahrani            12
   Parveen      Bhutto            12
      Arif     Khattak            12

============================================================
Q5: How many watchlist alerts are currently active?
============================================================
Latency: 0.8s

Extracted SQL:
SELECT COUNT(*) FROM watchlist WHERE is_active = 1

Result (1 rows):
 COUNT(*)
     6378

## Cell 10: Summary — Success Rate

In [52]:
passed = sum(1 for r in results if r['success'])
total = len(results)
avg_latency = sum(r['latency'] for r in results) / total

print(f"\nSuccess: {passed}/{total} ({passed/total*100:.0f}%)")
print(f"Avg latency: {avg_latency:.1f}s")
print()

for r in results:
    status = "✓" if r['success'] else "✗"
    print(f"  {status} [{r['latency']:.1f}s] {r['question']}")

Success: 5/5 (100%)
Avg latency: 3.5s

  ✓ [4.0s] List all off-loaded passengers at Islamabad Airport in 2025
  ✓ [5.9s] How many travelers departed from Karachi last month?
  ✓ [2.5s] Which airlines have the highest off-loading rate?
  ✓ [4.1s] Top 10 most frequent travelers this year
  ✓ [0.8s] How many watchlist alerts are currently active?

## Cell 11: Save Prompt Template to Config

In [53]:
config_dir = Path.home() / "ml-projects" / "python-projects" / "IBMS_LLM" / "Config"
config_dir.mkdir(exist_ok=True)

# Save prompt template
prompt_path = config_dir / "prompt_template.txt"
prompt_path.write_text(PROMPT_TEMPLATE)
print(f"Saved: {prompt_path} ({prompt_path.stat().st_size:,} bytes)")

# Save sample values as JSON
sv_path = config_dir / "sample_values.json"
sv_path.write_text(json.dumps(sample_values, indent=2))
print(f"Saved: {sv_path}")

# Save schema DDL
ddl_path = config_dir / "schema_ddl.txt"
ddl_path.write_text(schema_ddl)
print(f"Saved: {ddl_path}")

Saved: /home/maliciit/ml-projects/python-projects/IBMS_LLM/Config/prompt_template.txt (13,474 bytes)
Saved: /home/maliciit/ml-projects/python-projects/IBMS_LLM/Config/sample_values.json
Saved: /home/maliciit/ml-projects/python-projects/IBMS_LLM/Config/schema_ddl.txt

## Cell 12: Close Connection

In [54]:
engine.dispose()
print("Connection closed.")

Connection closed.

In [55]:
with engine.connect() as conn:
    result = conn.execute(text("SELECT port_name, city, port_type FROM ports_of_entry WHERE UPPER(city) = 'KARACHI'"))
    for row in result:
        print(row)

('Jinnah International Airport', 'Karachi', 'Airport')
('Karachi Port', 'Karachi', 'Seaport')