# 03 — SQL Validation, Execution & Narration
**Pipeline:** Question → `qwen2.5-coder:14b` (SQL) → **Validate** → **Execute on Oracle** → `qwen3-14b:latest` (Narrate) → Plain English Answer

**What this notebook builds:**
1. SQL Safety Validator — blocks DML/DDL, injection, unsafe patterns
2. Guarded SQL Executor — row-limited, timeout-protected Oracle execution
3. Result Narrator — `qwen3-14b:latest` turns DataFrames into FIA officer-friendly English
4. End-to-End Pipeline — single function: question in → narrated answer out
5. Test on 5 representative FIA queries

## Cell 1: Imports & Configuration

In [1]:
import oracledb
from sqlalchemy import create_engine, text
import pandas as pd
import re
import time
import json
import ollama
from pathlib import Path

# === Paths ===
PROJECT_DIR = Path.home() / "ml-projects" / "python-projects" / "IBMS_LLM"
CONFIG_DIR  = PROJECT_DIR / "Config"

# === Oracle ===
ORACLE_USER = "ibms_user"
ORACLE_PASS = "ibms_pass"
ORACLE_DSN  = "localhost:1521/FREEPDB1"

# === Models ===
SQL_MODEL       = "qwen2.5-coder:14b"
NARRATION_MODEL = "qwen3-14b:latest"

# === Safety Limits ===
MAX_ROWS        = 100          # Cap result rows
QUERY_TIMEOUT   = 30           # Seconds

print("Configuration loaded.")
print(f"  Project dir: {PROJECT_DIR}")
print(f"  SQL model:   {SQL_MODEL}")
print(f"  Narration:   {NARRATION_MODEL}")
print(f"  Row limit:   {MAX_ROWS}")

Configuration loaded.
  Project dir: /home/maliciit/ml-projects/python-projects/IBMS_LLM
  SQL model:   qwen2.5-coder:14b
  Narration:   qwen3-14b:latest
  Row limit:   100

## Cell 2: Connect to Oracle

In [2]:
engine = create_engine(
    f"oracle+oracledb://{ORACLE_USER}:{ORACLE_PASS}@localhost:1521/?service_name=FREEPDB1",
    pool_pre_ping=True,
    pool_size=2,
)

with engine.connect() as conn:
    result = conn.execute(text("SELECT 1 FROM dual"))
    print("Oracle connection OK:", result.fetchone())
    result = conn.execute(text("SELECT COUNT(*) FROM travelers"))
    print(f"Travelers table:      {result.fetchone()[0]:,} rows")

Oracle connection OK: (1,)
Travelers table:      150,000 rows

## Cell 3: Load Prompt Template from Config

In [3]:
prompt_path = CONFIG_DIR / "prompt_template.txt"
PROMPT_TEMPLATE = prompt_path.read_text()

print(f"Loaded prompt template: {len(PROMPT_TEMPLATE):,} chars (~{len(PROMPT_TEMPLATE)//4:,} tokens)")
print(f"Has {{question}} placeholder: {'{question}' in PROMPT_TEMPLATE}")

Loaded prompt template: 13,474 chars (~3,368 tokens)
Has {question} placeholder: True

## Cell 4: SQL Extraction (from notebook 02)

In [4]:
def extract_sql(raw: str) -> str:
    """Extract clean SQL from LLM response."""
    raw = raw.strip()
    
    # Try ```sql ... ``` fences
    match = re.search(r'```(?:sql)?\s*\n?(.*?)\n?```', raw, re.DOTALL | re.IGNORECASE)
    if match:
        sql = match.group(1).strip()
    else:
        # Find first SELECT
        match = re.search(r'(SELECT\b.*)', raw, re.DOTALL | re.IGNORECASE)
        if match:
            sql = match.group(1).strip()
        else:
            sql = raw
    
    # First statement only
    if ';' in sql:
        sql = sql[:sql.index(';')].strip()
    
    return sql

print("extract_sql() defined.")

extract_sql() defined.

## Cell 5: SQL Generation (from notebook 02)

In [5]:
def generate_sql(question: str) -> tuple[str, str, float]:
    """Generate Oracle SQL from natural language.
    Returns: (raw_response, cleaned_sql, latency_seconds)
    """
    prompt = PROMPT_TEMPLATE.replace("{question}", question)
    
    t0 = time.time()
    response = ollama.chat(
        model=SQL_MODEL,
        messages=[{"role": "user", "content": prompt}],
        options={"temperature": 0.0, "num_predict": 1024},
    )
    latency = time.time() - t0
    
    raw = response["message"]["content"]
    cleaned = extract_sql(raw)
    
    return raw, cleaned, latency

print("generate_sql() defined.")

generate_sql() defined.

---
## NEW COMPONENTS START HERE
---

## Cell 6: SQL Safety Validator
Blocks dangerous SQL before it ever reaches Oracle.

**Checks:**
1. Must start with SELECT
2. Block DML: INSERT, UPDATE, DELETE, MERGE
3. Block DDL: CREATE, DROP, ALTER, TRUNCATE, RENAME
4. Block DCL: GRANT, REVOKE
5. Block system access: DBMS_, UTL_, SYS., DBA_, V$, EXECUTE IMMEDIATE
6. Block multiple statements (semicolons)
7. Block subquery injection patterns (UNION-based injection)
8. Must reference at least one known IBMS table

In [6]:
# Known IBMS tables (all 20)
IBMS_TABLES = {
    "countries", "ports_of_entry", "visa_categories", "sponsors",
    "travelers", "document_registry", "visa_applications", "travel_records",
    "asylum_claims", "removal_orders", "detention_records",
    "family_relationships", "watchlist", "ecl_entries",
    "trafficking_cases", "illegal_crossings", "offloading_records",
    "risk_profiles", "suspect_networks", "audit_log",
}

# Patterns that must NOT appear in generated SQL
BLOCKED_KEYWORDS = [
    # DML
    r"\bINSERT\b", r"\bUPDATE\b", r"\bDELETE\b", r"\bMERGE\b",
    # DDL
    r"\bCREATE\b", r"\bDROP\b", r"\bALTER\b", r"\bTRUNCATE\b", r"\bRENAME\b",
    # DCL
    r"\bGRANT\b", r"\bREVOKE\b",
    # System / Privilege Escalation
    r"\bDBMS_", r"\bUTL_", r"\bSYS\.", r"\bDBA_",
    r"\bV\$", r"\bEXECUTE\s+IMMEDIATE\b",
    # PL/SQL blocks
    r"\bBEGIN\b", r"\bDECLARE\b", r"\bEXEC\b",
]


def validate_sql(sql: str) -> tuple[bool, str]:
    """Validate SQL for safety.
    Returns: (is_valid, reason)
    """
    if not sql or not sql.strip():
        return False, "Empty SQL"
    
    sql_upper = sql.strip().upper()
    
    # 1. Must start with SELECT (or WITH for CTEs)
    if not (sql_upper.startswith("SELECT") or sql_upper.startswith("WITH")):
        return False, f"SQL must start with SELECT or WITH. Got: {sql_upper[:30]}..."
    
    # 2. Block multiple statements (check for semicolons mid-query)
    # Already handled by extract_sql, but double-check
    if ';' in sql:
        return False, "Multiple statements detected (semicolon found)"
    
    # 3. Block dangerous keywords
    for pattern in BLOCKED_KEYWORDS:
        match = re.search(pattern, sql, re.IGNORECASE)
        if match:
            return False, f"Blocked keyword detected: {match.group()}"
    
    # 4. Block comment-based injection (-- or /* */)
    if '--' in sql or '/*' in sql:
        return False, "SQL comments not allowed (potential injection)"
    
    # 5. Must reference at least one known IBMS table
    sql_lower = sql.lower()
    found_tables = [t for t in IBMS_TABLES if t in sql_lower]
    if not found_tables:
        return False, "No known IBMS table referenced in query"
    
    return True, "OK"


# === Test the validator ===
test_cases = [
    ("SELECT COUNT(*) FROM travelers",                          True),
    ("WITH cte AS (SELECT * FROM travelers) SELECT * FROM cte", True),
    ("INSERT INTO travelers VALUES (1,'X')",                    False),
    ("SELECT * FROM travelers; DROP TABLE travelers",           False),
    ("SELECT * FROM travelers -- comment",                      False),
    ("DELETE FROM travelers WHERE 1=1",                         False),
    ("SELECT * FROM some_unknown_table",                        False),
    ("SELECT DBMS_OUTPUT.PUT_LINE('hack') FROM dual",           False),
    ("BEGIN EXECUTE IMMEDIATE 'DROP TABLE travelers'; END",     False),
]

print(f"{'SQL':<55} {'Expected':>8} {'Result':>8} {'Reason'}")
print("─" * 110)
all_pass = True
for sql, expected in test_cases:
    is_valid, reason = validate_sql(sql)
    status = "✓" if is_valid == expected else "✗ FAIL"
    if is_valid != expected:
        all_pass = False
    print(f"  {sql[:53]:<55} {str(expected):>8} {str(is_valid):>8}  {reason}")

print(f"\n{'✅ All validator tests passed.' if all_pass else '❌ Some tests failed!'}")

SQL                                                     Expected   Result Reason
──────────────────────────────────────────────────────────────────────────────────────────────────────────────
  SELECT COUNT(*) FROM travelers                              True     True  OK
  WITH cte AS (SELECT * FROM travelers) SELECT * FROM c       True     True  OK
  INSERT INTO travelers VALUES (1,'X')                       False    False  SQL must start with SELECT or WITH. Got: INSERT INTO TRAVELERS VALUES (...
  SELECT * FROM travelers; DROP TABLE travelers              False    False  Multiple statements detected (semicolon found)
  SELECT * FROM travelers -- comment                         False    False  SQL comments not allowed (potential injection)
  DELETE FROM travelers WHERE 1=1                            False    False  SQL must start with SELECT or WITH. Got: DELETE FROM TRAVELERS WHERE 1=...
  SELECT * FROM some_unknown_table                           False    False  No known IBMS table referenced in query
  SELECT DBMS_OUTPUT.PUT_LINE('hack') FROM dual              False    False  Blocked keyword detected: DBMS_
  BEGIN EXECUTE IMMEDIATE 'DROP TABLE travelers'; END        False    False  SQL must start with SELECT or WITH. Got: BEGIN EXECUTE IMMEDIATE 'DROP ...

✅ All validator tests passed.

## Cell 7: Guarded SQL Executor
Executes validated SQL on Oracle with row limits and error handling.

In [7]:
def execute_sql(sql: str, max_rows: int = MAX_ROWS) -> tuple[bool, pd.DataFrame | None, str]:
    """Execute validated SQL on Oracle.
    Returns: (success, dataframe_or_none, message)
    """
    # Step 1: Validate first
    is_valid, reason = validate_sql(sql)
    if not is_valid:
        return False, None, f"Validation failed: {reason}"
    
    # Step 2: Execute (no row cap — prototype mode)
    # In production, re-enable row limits for safety
    try:
        t0 = time.time()
        with engine.connect() as conn:
            df = pd.read_sql(text(sql), conn)
        exec_time = time.time() - t0
        
        row_count = len(df)
        msg = f"{row_count} rows returned in {exec_time:.2f}s"
        if row_count == max_rows:
            msg += f" (capped at {max_rows})"
        
        return True, df, msg
        
    except Exception as e:
        error_msg = str(e)[:300]
        return False, None, f"Execution error: {error_msg}"


# === Quick test ===
success, df, msg = execute_sql("SELECT COUNT(*) AS total_travelers FROM travelers")
print(f"Success: {success}")
print(f"Message: {msg}")
if df is not None:
    print(f"Result:\n{df.to_string(index=False)}")

Success: True
Message: 1 rows returned in 0.01s
Result:
 total_travelers
          150000

## Cell 8: Test Executor — Validation Rejection

In [8]:
# This should be BLOCKED by the validator
success, df, msg = execute_sql("DELETE FROM travelers WHERE 1=1")
print(f"Success: {success}")
print(f"Message: {msg}")
print("\n✓ Dangerous SQL was blocked before reaching Oracle." if not success else "✗ DANGER: SQL was NOT blocked!")

Success: False
Message: Validation failed: SQL must start with SELECT or WITH. Got: DELETE FROM TRAVELERS WHERE 1=...

✓ Dangerous SQL was blocked before reaching Oracle.

## Cell 9: Result Narrator — qwen3-14b:latest
Takes the original question, generated SQL, and DataFrame results → produces a plain English answer for FIA officers.

**Design decisions:**
- Full context (question + SQL + results) gives best narration quality
- Narrator sees at most 50 rows to keep prompt size manageable
- Explicit instructions: professional tone, include numbers, no hallucination

In [9]:
NARRATION_PROMPT = """You are a senior FIA (Federal Investigation Agency) intelligence analyst in Pakistan.
An officer asked a question about the IBMS (Integrated Border Management System) database.
The system generated an SQL query, executed it, and got the results below.

Your job: Write a clear, professional, plain-English answer for the officer.

=== RULES ===
1. Answer the officer's question directly — lead with the key finding.
2. Include ALL important numbers from the results (counts, percentages, dates).
3. Use exact figures — do NOT round unless the number exceeds 6 digits.
4. If results contain a table/ranking, present it clearly.
5. If results are empty (0 rows), say "No records found" and suggest possible reasons.
6. Do NOT hallucinate or add data not present in the results.
7. Do NOT mention SQL, databases, queries, or technical details.
8. Keep it concise — 2-5 sentences for simple queries, a short paragraph for complex ones.
9. Use professional FIA tone (formal but readable).
10. If results were capped at the row limit, mention that more records may exist.

=== OFFICER'S QUESTION ===
{question}

=== QUERY RESULTS ===
{results}

Write your answer now. /no_think"""


def narrate_results(
    question: str,
    df: pd.DataFrame,
    max_display_rows: int = 50,
    was_capped: bool = False,
    cap_limit: int = MAX_ROWS,
) -> tuple[str, float]:
    """Narrate SQL results in plain English using qwen3-14b:latest.
    Returns: (narration_text, latency_seconds)
    """
    # Format results for the prompt
    if df is None or df.empty:
        results_text = "(No results — 0 rows returned)"
    else:
        display_df = df.head(max_display_rows)
        results_text = display_df.to_string(index=False)
        if len(df) > max_display_rows:
            results_text += f"\n\n... ({len(df)} total rows, showing first {max_display_rows})"
        if was_capped:
            results_text += f"\n\n⚠ NOTE: Results were capped at {cap_limit} rows. The actual count may be higher."
    
    prompt = NARRATION_PROMPT.replace("{question}", question).replace("{results}", results_text)
    
    t0 = time.time()
    response = ollama.chat(
        model=NARRATION_MODEL,
        messages=[{"role": "user", "content": prompt}],
        options={"temperature": 0.3, "num_predict": 512},
    )
    latency = time.time() - t0
    
    narration = response["message"]["content"].strip()
    
    # Strip <think>...</think> tags that qwen3 may emit
    narration = re.sub(r'<think>.*?</think>\s*', '', narration, flags=re.DOTALL).strip()
    
    return narration, latency


print("narrate_results() defined.")
print(f"Narration prompt template: {len(NARRATION_PROMPT):,} chars")

narrate_results() defined.
Narration prompt template: 1,171 chars

## Cell 10: Test Narrator Standalone

In [10]:
# Execute a simple query manually, then narrate
test_q = "How many travelers are in the system?"
with engine.connect() as conn:
    test_df = pd.read_sql(text("SELECT COUNT(*) AS total_travelers FROM travelers"), conn)

print(f"Question: {test_q}")
print(f"Raw data: {test_df.to_string(index=False)}")
print()

narration, latency = narrate_results(test_q, test_df)
print(f"Narration ({latency:.1f}s):")
print(narration)

Question: How many travelers are in the system?
Raw data:  total_travelers
          150000

Narration (2.9s):
Assistant:There are 150,000 travelers currently recorded in the IBMS database. This figure represents the total number of individuals who have been processed or are registered within the system. No further details or breakdowns were requested, and no additional data is available in the results.

---
## End-to-End Pipeline
---

## Cell 11: Pipeline Function — Question to Answer
Single function that chains everything:

```
question → generate_sql() → validate_sql() → execute_sql() → narrate_results() → answer
```

In [11]:
def nl2sql_pipeline(question: str, verbose: bool = True) -> dict:
    """End-to-end NL2SQL pipeline.
    
    Args:
        question: Natural language question from FIA officer
        verbose: Print step-by-step progress
    
    Returns:
        dict with keys: question, sql, is_valid, validation_msg,
                        exec_success, exec_msg, row_count, dataframe,
                        narration, timings, overall_status
    """
    result = {
        "question": question,
        "sql": None,
        "is_valid": False,
        "validation_msg": None,
        "exec_success": False,
        "exec_msg": None,
        "row_count": 0,
        "dataframe": None,
        "narration": None,
        "timings": {},
        "overall_status": "FAILED",
    }
    
    pipeline_start = time.time()
    
    # ── Step 1: Generate SQL ──
    if verbose:
        print(f"Question: {question}")
        print(f"\n[1/4] Generating SQL via {SQL_MODEL}...")
    
    raw, sql, gen_latency = generate_sql(question)
    result["sql"] = sql
    result["timings"]["sql_generation"] = gen_latency
    
    if verbose:
        print(f"  Done ({gen_latency:.1f}s)")
        print(f"  SQL: {sql[:200]}{'...' if len(sql) > 200 else ''}")
    
    # ── Step 2: Validate SQL ──
    if verbose:
        print(f"\n[2/4] Validating SQL...")
    
    is_valid, val_msg = validate_sql(sql)
    result["is_valid"] = is_valid
    result["validation_msg"] = val_msg
    
    if not is_valid:
        if verbose:
            print(f"  ✗ BLOCKED: {val_msg}")
        result["narration"] = f"I was unable to process this query safely. Reason: {val_msg}"
        result["timings"]["total"] = time.time() - pipeline_start
        return result
    
    if verbose:
        print(f"  ✓ Passed")
    
    # ── Step 3: Execute SQL ──
    if verbose:
        print(f"\n[3/4] Executing on Oracle...")
    
    exec_success, df, exec_msg = execute_sql(sql)
    result["exec_success"] = exec_success
    result["exec_msg"] = exec_msg
    result["dataframe"] = df
    result["row_count"] = len(df) if df is not None else 0
    
    if not exec_success:
        if verbose:
            print(f"  ✗ {exec_msg}")
        result["narration"] = "The query could not be executed against the database. This may be due to a syntax error. Please try rephrasing your question."
        result["timings"]["total"] = time.time() - pipeline_start
        return result
    
    if verbose:
        print(f"  ✓ {exec_msg}")
    
    # Detect if results were capped (disabled in prototype mode)
    was_capped = False
    
    # ── Step 4: Narrate Results ──
    if verbose:
        print(f"\n[4/4] Narrating via {NARRATION_MODEL}...")
    
    narration, nar_latency = narrate_results(question, df, was_capped=was_capped, cap_limit=MAX_ROWS)
    result["narration"] = narration
    result["timings"]["narration"] = nar_latency
    result["overall_status"] = "SUCCESS"
    
    if verbose:
        print(f"  Done ({nar_latency:.1f}s)")
    
    result["timings"]["total"] = time.time() - pipeline_start
    
    if verbose:
        print(f"\n{'='*60}")
        print(f"ANSWER:")
        print(f"{'='*60}")
        print(narration)
        print(f"\n  [Total: {result['timings']['total']:.1f}s | SQL Gen: {gen_latency:.1f}s | Narration: {nar_latency:.1f}s | Rows: {result['row_count']}]")
    
    return result


print("nl2sql_pipeline() defined.")

nl2sql_pipeline() defined.

## Cell 12: Pipeline Test — Single Question

In [12]:
result = nl2sql_pipeline("How many travelers are in the system?")

Question: How many travelers are in the system?

[1/4] Generating SQL via qwen2.5-coder:14b...
  Done (7.9s)
  SQL: SELECT COUNT(*) FROM travelers

[2/4] Validating SQL...
  ✓ Passed

[3/4] Executing on Oracle...
  ✓ 1 rows returned in 0.00s

[4/4] Narrating via qwen3-14b:latest...
  Done (6.3s)

============================================================
ANSWER:
============================================================
Assistant:There are 150,000 travelers currently recorded in the IBMS database. This figure represents the total number of individuals who have been processed or are registered within the system. No further details or breakdowns were requested, so this is the complete count available.

  [Total: 14.2s | SQL Gen: 7.9s | Narration: 6.3s | Rows: 1]

---
## Pipeline Testing — 5 FIA Queries
---

## Cell 13: Run 5 Representative FIA Queries

In [13]:
FIA_QUERIES = [
    # Lookup
    "List all off-loaded passengers at Islamabad Airport in 2025",
    # Aggregation
    "Which airlines have the highest off-loading rate?",
    # Count + filter
    "How many watchlist alerts are currently active?",
    # Complex join
    "Top 10 most frequent travelers this year",
    # Analytical
    "Compare off-loading rates across all airports",
]

all_results = []

for i, q in enumerate(FIA_QUERIES, 1):
    print(f"\n{'#'*70}")
    print(f"  QUERY {i}/{len(FIA_QUERIES)}")
    print(f"{'#'*70}")
    
    r = nl2sql_pipeline(q, verbose=True)
    all_results.append(r)
    print()

######################################################################
  QUERY 1/5
######################################################################
Question: List all off-loaded passengers at Islamabad Airport in 2025

[1/4] Generating SQL via qwen2.5-coder:14b...
  Done (12.3s)
  SQL: SELECT t.first_name, t.last_name, ol.reason
FROM travelers t
JOIN offloading_records ol ON t.traveler_id = ol.traveler_id
JOIN ports_of_entry poe ON ol.port_id = poe.port_id
WHERE EXTRACT(YEAR FROM ol...

[2/4] Validating SQL...
  ✓ Passed

[3/4] Executing on Oracle...
  ✓ 2384 rows returned in 0.04s

[4/4] Narrating via qwen3-14b:latest...
  Done (10.1s)

============================================================
ANSWER:
============================================================
Assistant

A total of 2,384 passengers were off-loaded at Islamabad Airport in 2025. The primary reasons for off-loading included Watchlist Hits (1,124 cases), ECL Matches (612 cases), Incomplete Travel Documents (115 cases), Court Orders (45 cases), and other reasons such as Invalid Documents, Suspicious Behavior, and Airline Refusal. The data shows that Watchlist Hits were the most common reason for off-loading. (Note: This result is capped at the first 50 rows displayed; additional records may exist beyond this limit.)

  [Total: 22.4s | SQL Gen: 12.3s | Narration: 10.1s | Rows: 2384]


######################################################################
  QUERY 2/5
######################################################################
Question: Which airlines have the highest off-loading rate?

[1/4] Generating SQL via qwen2.5-coder:14b...
  Done (12.4s)
  SQL: SELECT airline, COUNT(*) AS offload_count
FROM offloading_records
WHERE EXTRACT(YEAR FROM offload_date) = 2025 AND EXTRACT(MONTH FROM offload_date) = 12
GROUP BY airline
ORDER BY offload_count DESC
FE...

[2/4] Validating SQL...
  ✓ Passed

[3/4] Executing on Oracle...
  ✓ 3 rows returned in 0.02s

[4/4] Narrating via qwen3-14b:latest...
  Done (5.4s)

============================================================
ANSWER:
============================================================
Assistant:The airlines with the highest off-loading rates are Saudi Airlines and Serene Air, both with 59 offloads each, followed by flydubai with 55 offloads.

  [Total: 17.9s | SQL Gen: 12.4s | Narration: 5.4s | Rows: 3]


######################################################################
  QUERY 3/5
######################################################################
Question: How many watchlist alerts are currently active?

[1/4] Generating SQL via qwen2.5-coder:14b...
  Done (8.1s)
  SQL: SELECT COUNT(*) FROM watchlist WHERE is_active = 1

[2/4] Validating SQL...
  ✓ Passed

[3/4] Executing on Oracle...
  ✓ 1 rows returned in 0.00s

[4/4] Narrating via qwen3-14b:latest...
  Done (5.3s)

============================================================
ANSWER:
============================================================
Assistant:There are currently 6,378 active watchlist alerts in the system. This figure represents all alerts that are currently flagged and require attention from the relevant authorities. No further details or breakdowns were requested, so no additional information is provided at this time.

  [Total: 13.5s | SQL Gen: 8.1s | Narration: 5.3s | Rows: 1]


######################################################################
  QUERY 4/5
######################################################################
Question: Top 10 most frequent travelers this year

[1/4] Generating SQL via qwen2.5-coder:14b...
  Done (12.1s)
  SQL: SELECT t.first_name, t.last_name, COUNT(tr.record_id) AS travel_count
FROM travelers t
JOIN travel_records tr ON t.traveler_id = tr.traveler_id
WHERE EXTRACT(YEAR FROM tr.entry_date) = 2025
GROUP BY t...

[2/4] Validating SQL...
  ✓ Passed

[3/4] Executing on Oracle...
  ✓ 10 rows returned in 0.67s

[4/4] Narrating via qwen3-14b:latest...
  Done (8.4s)

============================================================
ANSWER:
============================================================
Assistant:The top 10 most frequent travelers this year all have a travel count of 12. The names of these travelers are as follows:

1. Aamir Bugti
2. Asif Ansari
3. Noreen Ahmed
4. Nasser Al-Zaahrani
5. Saeed Al-Zahrani
6. Muhammad Yousafzai
7. Parveen Bhutto
8. Zubair Ahmed
9. Arif Khattak
10. Muhammad Yousafzai

Note that Muhammad Yousafzai appears twice in the list, indicating a possible duplicate entry or multiple entries under the same name.

  [Total: 21.1s | SQL Gen: 12.1s | Narration: 8.4s | Rows: 10]


######################################################################
  QUERY 5/5
######################################################################
Question: Compare off-loading rates across all airports

[1/4] Generating SQL via qwen2.5-coder:14b...
  Done (11.2s)
  SQL: SELECT poe.port_name, COUNT(ol.offload_id) AS offloaded_travelers_count
FROM ports_of_entry poe
JOIN offloading_records ol ON poe.port_id = ol.port_id
WHERE EXTRACT(YEAR FROM ol.offload_date) = 2025
G...

[2/4] Validating SQL...
  ✓ Passed

[3/4] Executing on Oracle...
  ✓ 7 rows returned in 0.01s

[4/4] Narrating via qwen3-14b:latest...
  Done (7.5s)

============================================================
ANSWER:
============================================================
Assistant:Jinnah International Airport had the highest off-loading rate with 2,754 travelers, followed by Islamabad International Airport with 2,384 travelers and Allama Iqbal International Airport with 2,130 travelers. Bacha Khan International Airport recorded 755 travelers, Multan International Airport 590 travelers, Sialkot International Airport 552 travelers, and Quetta International Airport 509 travelers. These figures reflect the total number of offloaded travelers at each airport during the reporting period.

  [Total: 18.7s | SQL Gen: 11.2s | Narration: 7.5s | Rows: 7]

## Cell 14: Results Summary

In [14]:
print(f"\n{'='*80}")
print(f"  PIPELINE TEST SUMMARY")
print(f"{'='*80}\n")

passed = sum(1 for r in all_results if r['overall_status'] == 'SUCCESS')
total = len(all_results)
avg_time = sum(r['timings'].get('total', 0) for r in all_results) / total

print(f"  Success rate:   {passed}/{total} ({passed/total*100:.0f}%)")
print(f"  Avg total time: {avg_time:.1f}s")
print()

print(f"  {'#':<3} {'Status':<8} {'Rows':>5} {'Time':>6}  {'Question'}")
print(f"  {'─'*80}")

for i, r in enumerate(all_results, 1):
    status = "✓" if r['overall_status'] == 'SUCCESS' else "✗"
    total_time = r['timings'].get('total', 0)
    print(f"  {i:<3} {status:<8} {r['row_count']:>5} {total_time:>5.1f}s  {r['question']}")

# Show any failures
failures = [r for r in all_results if r['overall_status'] != 'SUCCESS']
if failures:
    print(f"\n  FAILURES:")
    for r in failures:
        print(f"    Q: {r['question']}")
        print(f"    SQL: {r['sql'][:150]}")
        print(f"    Reason: {r.get('validation_msg') or r.get('exec_msg')}")
        print()

================================================================================
  PIPELINE TEST SUMMARY
================================================================================

  Success rate:   5/5 (100%)
  Avg total time: 18.7s

  #   Status    Rows   Time  Question
  ────────────────────────────────────────────────────────────────────────────────
  1   ✓         2384  22.4s  List all off-loaded passengers at Islamabad Airport in 2025
  2   ✓            3  17.9s  Which airlines have the highest off-loading rate?
  3   ✓            1  13.5s  How many watchlist alerts are currently active?
  4   ✓           10  21.1s  Top 10 most frequent travelers this year
  5   ✓            7  18.7s  Compare off-loading rates across all airports

## Cell 15: Display Generated SQL for Review

In [15]:
for i, r in enumerate(all_results, 1):
    print(f"\nQ{i}: {r['question']}")
    print(f"SQL:\n{r['sql']}")
    print(f"Valid: {r['is_valid']} | Executed: {r['exec_success']} | Rows: {r['row_count']}")
    print(f"─" * 60)

Q1: List all off-loaded passengers at Islamabad Airport in 2025
SQL:
SELECT t.first_name, t.last_name, ol.reason
FROM travelers t
JOIN offloading_records ol ON t.traveler_id = ol.traveler_id
JOIN ports_of_entry poe ON ol.port_id = poe.port_id
WHERE EXTRACT(YEAR FROM ol.offload_date) = 2025 AND poe.port_name = 'Islamabad International Airport'
Valid: True | Executed: True | Rows: 2384
────────────────────────────────────────────────────────────

Q2: Which airlines have the highest off-loading rate?
SQL:
SELECT airline, COUNT(*) AS offload_count
FROM offloading_records
WHERE EXTRACT(YEAR FROM offload_date) = 2025 AND EXTRACT(MONTH FROM offload_date) = 12
GROUP BY airline
ORDER BY offload_count DESC
FETCH FIRST 3 ROWS ONLY
Valid: True | Executed: True | Rows: 3
────────────────────────────────────────────────────────────

Q3: How many watchlist alerts are currently active?
SQL:
SELECT COUNT(*) FROM watchlist WHERE is_active = 1
Valid: True | Executed: True | Rows: 1
────────────────────────────────────────────────────────────

Q4: Top 10 most frequent travelers this year
SQL:
SELECT t.first_name, t.last_name, COUNT(tr.record_id) AS travel_count
FROM travelers t
JOIN travel_records tr ON t.traveler_id = tr.traveler_id
WHERE EXTRACT(YEAR FROM tr.entry_date) = 2025
GROUP BY t.traveler_id, t.first_name, t.last_name
ORDER BY travel_count DESC
FETCH FIRST 10 ROWS ONLY
Valid: True | Executed: True | Rows: 10
────────────────────────────────────────────────────────────

Q5: Compare off-loading rates across all airports
SQL:
SELECT poe.port_name, COUNT(ol.offload_id) AS offloaded_travelers_count
FROM ports_of_entry poe
JOIN offloading_records ol ON poe.port_id = ol.port_id
WHERE EXTRACT(YEAR FROM ol.offload_date) = 2025
GROUP BY poe.port_name
ORDER BY offloaded_travelers_count DESC
Valid: True | Executed: True | Rows: 7
────────────────────────────────────────────────────────────

## Cell 16: Display Narrations Side by Side

In [16]:
for i, r in enumerate(all_results, 1):
    print(f"\n{'='*60}")
    print(f"Q{i}: {r['question']}")
    print(f"{'='*60}")
    print(f"\n{r['narration']}")
    print()

============================================================
Q1: List all off-loaded passengers at Islamabad Airport in 2025
============================================================

Assistant

A total of 2,384 passengers were off-loaded at Islamabad Airport in 2025. The primary reasons for off-loading included Watchlist Hits (1,124 cases), ECL Matches (612 cases), Incomplete Travel Documents (115 cases), Court Orders (45 cases), and other reasons such as Invalid Documents, Suspicious Behavior, and Airline Refusal. The data shows that Watchlist Hits were the most common reason for off-loading. (Note: This result is capped at the first 50 rows displayed; additional records may exist beyond this limit.)


============================================================
Q2: Which airlines have the highest off-loading rate?
============================================================

Assistant:The airlines with the highest off-loading rates are Saudi Airlines and Serene Air, both with 59 offloads each, followed by flydubai with 55 offloads.


============================================================
Q3: How many watchlist alerts are currently active?
============================================================

Assistant:There are currently 6,378 active watchlist alerts in the system. This figure represents all alerts that are currently flagged and require attention from the relevant authorities. No further details or breakdowns were requested, so no additional information is provided at this time.


============================================================
Q4: Top 10 most frequent travelers this year
============================================================

Assistant:The top 10 most frequent travelers this year all have a travel count of 12. The names of these travelers are as follows:

1. Aamir Bugti
2. Asif Ansari
3. Noreen Ahmed
4. Nasser Al-Zaahrani
5. Saeed Al-Zahrani
6. Muhammad Yousafzai
7. Parveen Bhutto
8. Zubair Ahmed
9. Arif Khattak
10. Muhammad Yousafzai

Note that Muhammad Yousafzai appears twice in the list, indicating a possible duplicate entry or multiple entries under the same name.


============================================================
Q5: Compare off-loading rates across all airports
============================================================

Assistant:Jinnah International Airport had the highest off-loading rate with 2,754 travelers, followed by Islamabad International Airport with 2,384 travelers and Allama Iqbal International Airport with 2,130 travelers. Bacha Khan International Airport recorded 755 travelers, Multan International Airport 590 travelers, Sialkot International Airport 552 travelers, and Quetta International Airport 509 travelers. These figures reflect the total number of offloaded travelers at each airport during the reporting period.

---
## Save Pipeline Functions
---

## Cell 17: Save Core Functions to Config for Reuse

In [17]:
# Save narration prompt template
narration_path = CONFIG_DIR / "narration_prompt.txt"
narration_path.write_text(NARRATION_PROMPT)
print(f"Saved: {narration_path}")

# Save test results as JSON (for future evaluation comparison)
test_log = []
for r in all_results:
    test_log.append({
        "question": r["question"],
        "sql": r["sql"],
        "is_valid": r["is_valid"],
        "exec_success": r["exec_success"],
        "row_count": r["row_count"],
        "narration": r["narration"],
        "timings": r["timings"],
        "overall_status": r["overall_status"],
    })

log_path = CONFIG_DIR / "nb03_test_results.json"
log_path.write_text(json.dumps(test_log, indent=2))
print(f"Saved: {log_path}")

print("\n✅ Pipeline artifacts saved.")

Saved: /home/maliciit/ml-projects/python-projects/IBMS_LLM/Config/narration_prompt.txt
Saved: /home/maliciit/ml-projects/python-projects/IBMS_LLM/Config/nb03_test_results.json

✅ Pipeline artifacts saved.

## Cell 18: Close Connection

In [18]:
engine.dispose()
print("Connection closed.")
print("\n✅ Notebook 03 complete — SQL Validation + Execution + Narration pipeline built and tested.")

Connection closed.

✅ Notebook 03 complete — SQL Validation + Execution + Narration pipeline built and tested.